<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!auth.isAuth; else:Menu">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Login</a>
        </li>
        <ng-template #Menu>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">Accueil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Todolist
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/todolist" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact:true}">Afficher</a></li>
              <li><a class="dropdown-item" routerLink="/todolist/add" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact:true}">Ajouter</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Utilisateurs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/users" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact:true}">Afficher</a></li>
              <li><a class="dropdown-item" routerLink="/users/add" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact:true}">Ajouter</a></li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
    <form class="d-flex justify-content-end">
      <app-logout></app-logout>
    </form>
  </div>
</nav>